<front>
    <div>
        <img src="../../../assets/image/Banner-sobre.jpg"
             alt="Imagem responsiva" width="100%" height="300px" />
    </div>
    
    <br />
    
    <!-- <br />
    <br /> -->
    <div class="container">
        <!-- <div class="row"> -->
            <article>
                <div class="col-md-12">
                    <h2 class="text-center">{{about.titulo}}</h2>
        
                    <!-- <img class="bd-placeholder-img rounded mx-auto d-block" width="300" height="300"
                         src="../../../assets/image/Banner-sobre.jpg" alt="Imagem sobre a história"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
                    <br /><br /> -->
                    <p>{{about.descricao}}</p>
                    <!-- @if (About != null && About.Count > 0)
                    {
                        <p>@About[0].descricao</p>
                    }
                    else
                    {
                        <p>Sem Info</p>
                    } -->
                    
                    <hr style="border: 5px solid #483D8B;
                                border-radius: 5px;">
                </div>
            </article>
        <!-- </div> -->
    </div> <!-- /container -->
</front>
