<front>
    <div class="container">
        <br />
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-6 font-italic">Ações sociais e trabalhos de Missões</h1>
                <p class="lead my-6">Aqui você encontra tudo sobre nossos trabalhos sociais e de missões.</p>
            </div>
        </div>
        <article>
            <div class="row mb-2">
                <div class="col-md-6" *ngFor="let m of missoes">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-300 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Trabalho sobre:</strong>
                            <h4 class="mb-0">{{m.titulo}}</h4>
                            <div class="mb-1 text-muted">{{m.dataPost}}</div>
                            <p class="card-text mb-auto">{{m.slug}}</p>
                            <a href="/Missao/@missao.id" class="bg-info text-light btn btn-primary btn-block">Continue lendo...</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img" width="230" height="300" src="data:image/png;base64,{{m.imgByte}}" alt="Imagem de capa do card" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</front>
