<front>
    <div class="container">
        <br />
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-6 font-italic">Aqui você encontra as melhores pregações!</h1>
                    <p class="lead my-6">Aqui você encontra tudo sobre nossas pregações.</p>
                </div>
            </div>
        <article>
            <div class="row mb-2">
                <div class="col-md-6" *ngFor="let b of blogs">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-300 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Pregação sobre:</strong>
                            <h4 class="mb-0">{{b.titulo}}</h4>
                            <div class="mb-1 text-muted">{{b.dataPost}}</div>
                            <p class="card-text mb-auto">{{b.slug}}</p>
                            <form name="clieditar" method="post" action="">
                                <input type="hidden" name="id" id="id" value="{{b.id}}">
                                <button class="bg-info text-light btn btn-primary btn-block">Continue lendo...</button>
                            </form>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img" width="230" height="230" src="data:image/png;base64,{{b.imgByte}}" alt="Imagem de capa do card" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
                        </div>
                    </div>
                </div>
            </div>
        </article>
        </div>
</front>
